<h1><%= @book.title %></h1>
<p><%= @book.subtitle %></p>

<dl>
  <dt>著者</dt>
  <dd>
    <ul>
      <% @book.authors.each do |author| %>
        <li>
          <%= link_to author.name, author_path(author) %>
        </li>
      <% end %>
    </ul>
  </dd>

  <dt>出版社</dt>
  <dd><%= link_to @book.publisher.name, publisher_path(@book.publisher) %></dd>
</dl>
