{{ define "book/index" }}
{{ template "head" }}
{{ template "header" }}

<main>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">サムネイル</th>
        <th scope="col">タイトル</th>
        <th scope="col">サブタイトル</th>
        <th scope="col">著者</th>
        <th scope="col">発行日</th>
        <th scope="col">説明</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="https://placehold.it/128x128" alt=""></td>
        <td>吾輩は猫である</td>
        <td>ほげりんこ</td>
        <td>夏目漱石</td>
        <td>2020-01-01</td>
        <td>名著です！</td>
      </tr>
      <tr>
        <td><img src="https://placehold.it/128x128" alt=""></td>
        <td>吾輩は猫である</td>
        <td>ほげりんこ</td>
        <td>夏目漱石</td>
        <td>2020-01-01</td>
        <td>名著です！</td>
      </tr>
      <tr>
        <td><img src="https://placehold.it/128x128" alt=""></td>
        <td>吾輩は猫である</td>
        <td>ほげりんこ</td>
        <td>夏目漱石</td>
        <td>2020-01-01</td>
        <td>名著です！</td>
      </tr>
      <tr>
        <td><img src="https://placehold.it/128x128" alt=""></td>
        <td>吾輩は猫である</td>
        <td>ほげりんこ</td>
        <td>夏目漱石</td>
        <td>2020-01-01</td>
        <td>名著です！</td>
      </tr>
      <tr>
        <td><img src="https://placehold.it/128x128" alt=""></td>
        <td>吾輩は猫である</td>
        <td>ほげりんこ</td>
        <td>夏目漱石</td>
        <td>2020-01-01</td>
        <td>名著です！</td>
      </tr>
      <tr>
        <td><img src="https://placehold.it/128x128" alt=""></td>
        <td>吾輩は猫である</td>
        <td>ほげりんこ</td>
        <td>夏目漱石</td>
        <td>2020-01-01</td>
        <td>名著です！</td>
      </tr>
      <tr>
        <td><img src="https://placehold.it/128x128" alt=""></td>
        <td>吾輩は猫である</td>
        <td>ほげりんこ</td>
        <td>夏目漱石</td>
        <td>2020-01-01</td>
        <td>名著です！</td>
      </tr>
      <tr>
        <td><img src="https://placehold.it/128x128" alt=""></td>
        <td>吾輩は猫である</td>
        <td>ほげりんこ</td>
        <td>夏目漱石</td>
        <td>2020-01-01</td>
        <td>名著です！</td>
      </tr>
      <tr>
        <td><img src="https://placehold.it/128x128" alt=""></td>
        <td>吾輩は猫である</td>
        <td>ほげりんこ</td>
        <td>夏目漱石</td>
        <td>2020-01-01</td>
        <td>名著です！</td>
      </tr>
      <tr>
        <td><img src="https://placehold.it/128x128" alt=""></td>
        <td>吾輩は猫である</td>
        <td>ほげりんこ</td>
        <td>夏目漱石</td>
        <td>2020-01-01</td>
        <td>名著です！</td>
      </tr>
      <tr>
        <td><img src="https://placehold.it/128x128" alt=""></td>
        <td>吾輩は猫である</td>
        <td>ほげりんこ</td>
        <td>夏目漱石</td>
        <td>2020-01-01</td>
        <td>名著です！</td>
      </tr>
    </tbody>
  </table>
</div>

</main>

{{ template "foot" }}
{{ end }}
