{{ define "book/index" }}
{{ template "head" }}
{{ template "header" }}

<main>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">サムネイル</th>
        <th scope="col">タイトル</th>
        <th scope="col">サブタイトル</th>
        <th scope="col">著者</th>
        <th scope="col">発行日</th>
        <th scope="col">説明</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Books }}
        <tr>
          <td><img src="{{ .Thumbnail }}" alt=""></td>
          <td>{{ .Title }}</td>
          <td>{{ .Subtitle }}</td>
          <td>
            <ul class="list-inline">
              {{ range .Authors }}
                <li class="list-inline-item">{{ . }}</li>
              {{ end }}
            </ul>
          </td>
          <td>{{ .PublishDate }}</td>
          <td>{{ .Description }}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>

</main>

{{ template "foot" }}
{{ end }}
